server:
  port: 8761

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
        defaultZone: http://localhost:${server.port}
  server:
    waitTimeInMsWhenSyncEmpty: 0
